/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tenor Sans');

.donateContainer {
    overflow: scroll;
    background-color: #bada78;
    /* background: linear-gradient(
        to top, 
        blue 50%, 
        #bada78 50%, 
        100%, transparent 0%);   */
}

/*Donate Title touches DONATE*/
.donateTitle {
    position: relative;
    text-align: center;
    padding-top: 5vw;
    position: static;
    top: 10px;
    font-size: 5vw;
    font-family: Argent;
    font-weight: bold;
    padding-bottom: 5vw;
    color:black;
}

.hr1{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: white;
  height: 10px;
  position: static;
  top: 500px;
}

.hr2{
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: white;
  height: 10px;
  position: relative;
  top: 100px;
}

/*Donate Header touches "Supporting ANHAD"*/
.donateHeader1{
    text-align: center;
    padding-top: 5vw;
    position: static;
    top: -10px;
    font-size: 3vw;
    font-family: Argent;
    font-weight: bold;
    padding-bottom: 0px;
    height: 100%;
    color: black;
}

/*Donate Description touches the Anhand Paragraph*/
.donateDescription {
  position: relative;
  top: 40px;
  grid-area: "Paragraph";
  text-align: center;
  font-size: 1.5vw;
}

/*Donate Header touches "Your Donate will Provide..."*/
.donateHeader2{
    text-align: center;
    padding-top: 5vw;
    position: relative;
    top: 50px;
    font-size: 3vw;
    font-family: Argent;
    font-weight: bold;
    padding-bottom: 0px;
    height: 100%;
}


.button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    margin-left: 0px;
    position: relative;
    top: 100px;
  }
  


