@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tenor Sans');

:root {
  --white: #fffffa;
  --darkGrey: #292f36;
}

.Content {
  padding: 0%;
  padding-left: 0%;
  margin-left: 0%;
  /* max-width: auto;
  margin: 40px auto;
  padding: 20px;
} */
  padding-bottom: 20px;
} 

html {
  box-sizing: border-box;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  overflow: hidden;
}



@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

.home-page-div{
  margin-top: 10%
}

.home-page-div h1{
  font-size: 150px;
  color: black;
  font-family: "Tenor Sans";
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-page-div p{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
/* 2 CLICK ME BUTTONS ON HOMEPAGE*/
.b-homepage{
  background-color: #FBACCC;
  color: #070D59;
  font-size: 18px;
}

/* 4 extra buttons on Sample Page - Just trying out css */
ul {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 25px;
  width: 8em;
  height: 2em;
  color: #F875AA;
  border-left: 0.08em solid;
  position: relative;
  margin-top: 0.8em;
  cursor: pointer;
}

li::before,
li::after
{
  content: '';
  position: absolute;
  width: inherit;
  border-left: inherit;
  z-index: -1;
}

li::before {
  height: 80%;
  top: 10%;
  left: calc(-0.15em - 0.08em * 2);
  filter: brightness(0.8);
}

li::after {
  height: 60%;
  top: 20%;
  left: calc(-0.15em * 2 - 0.08em * 3);
  filter: brightness(0.6);
}

li span {
  position: relative;
  height: 120%;
  top: -10%;
  box-sizing: border-box;
  border: 0.08em solid;
  /*background-color: #333;*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-transform: capitalize;
  transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
  transition: 0.3s;
}

li:hover span {
  transform: translateX(0.15em);
}


/* for the mailing page */

.bodyofmail {
  background-image: url(../images/floating-cogs\.svg);
  background-color: var(--darkGrey);
  margin: 0px;
  width: 100%;
  height: 100vh;

}

.Background {
  display: grid;
  overflow: hidden;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  width: auto;
  height: auto;
  grid-template-rows: 100px auto 50px auto 100px auto;
  grid-template-areas: 
  "countdown"
  "logo"
  "descriptiion"
  "subscrie"
  "social";
  justify-items: center;
  align-items: center;
  color: var(--white);
  

}


