@font-face {
  font-family: 'Prabhki';
  src: local('Prabhki.ttf'), url(../../src/fonts/Prabhki.ttf) format('truetype');
}

/* for flex stuff: https://css-tricks.com/snippets/css/a-guide-to-flexbox/#background */
/* justify-content: longer word: horizontal alignment
align-items: shorter word: vertical alignment
 */


.boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 200vh;
    white-space: none;
    background: #ffec5b;
    padding: 2%;
    overflow: scroll;


}

.left {
    order: 1;
    padding-right: 5vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    row-gap: 10vh;
}
.right {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding-right: 10vw;
    padding-left: 1vw;
    row-gap: 10vh;


}
.middle {
    order: 2;
    background-color: #ffc2b6;
    height: 80vh;
    border-radius: 15px;
    padding: 15px;
    justify-content: center;

}

.middle2 {
  background-color: rgb(212, 189, 53);
  border-radius: 5px;
  justify-content: center;




}

.middle div iframe {
  height: 100vh;
  width:  50vw;

}

.box1, .box3 {
    order: 1;
}

.box2, .box4 {
    order: 2;
}

.form1, .form2, .form3, .form4 {
  order:1;
  justify-content: center;

}

  .boxes p{
    margin: 20px 10px 20px 15px;
    line-height: 25px;
    font-weight: 1000;
    align-self: center;
    justify-content: center;
  }
  


  .box1, .box2, .box3, .box4 {
    background: white;
    height: 9vw;
    width: 13vw;
    margin-top: 3vw;
    margin-left: 15%;
    border-radius: 30px;
    box-shadow: -20px -20px #bada78; 
    text-align: center;
    align-self: center;
    transition:  .3s ease-in-out;
    font-size: .8vw;


  }

  .box1 p, .box2 p, .box3 p, .box4 p {
    overflow-wrap: break-word;
    inline-size: 11vw;
    align-self: center;
    justify-content: center;
    padding-right: 0px;

  }


  .box1:hover, .box2:hover, .box3:hover, .box4:hover {
    background: rgb(247, 242, 218);
  }

  .titleforpreorder {
    text-align: center;
    background-color: #ffec5b;
    padding-top: 1%;
  }

  .titleforpreorder p {
    font-size: 1.5vw;
    font-weight: bold;
    font-family: Argent;

  }

  @media (max-width: 1110px) {
    .box1, .box2, .box3, .box4 {
      background: white;
      height: 18vw;
      width: 16vw;
      margin-top: 3vw;
      margin-left: 15%;
      border-radius: 30px;
      box-shadow: -20px -20px #bada78; 
      text-align: center;
      transition:  .3s ease-in-out;
      font-size: 1.2vw;
  
  
    }

    .box1 p, .box2 p, .box3 p, .box4 p {
      overflow-wrap: break-word;
      inline-size: 13.5vw;
      align-self: center;
      justify-content: center;
      padding-right: 0px;
  
    }



  }

  @media (max-width: 700px) {
    .box1, .box2, .box3, .box4 {
      background: white;
      height: 20vw;
      width: 19.2vw;
      margin-top: 60px;
      margin-left: 15%;
      border-radius: 30px;
      box-shadow: -20px -20px #bada78; 
      text-align: center;
      transition:  .3s ease-in-out;
      font-size: 1.2vw;
  
  
    }

    .box1 p, .box2 p, .box3 p, .box4 p {
      overflow-wrap: break-word;
      inline-size: 13.5vw;
      align-self: center;
      justify-content: center;
      padding-right: 0px;
  
    }

  

  }

