.arrow {
    font-size: 6.5vh;
    text-align: center;
    
}

.arrowDiv {
        transform: translateY(1px);

    transition: all 0.2s ease-in;

}



.arrowDiv:hover {
    filter: brightness(115%)
}


