.subscribe {
    grid-area: subscribe; 
    display: grid; 
    grid-gap: 10px;
    grid-template-columns: [input] [button] ;
    align-items: center;
}

.subscribe-email {
    grid-area: input; 
    height: 40px;
    background-color: #ffdab9;
    border: 1px solid #bb9770;
    color: var(--white);
    padding-left: 10px;
    /* so text is not bumped to edge of the input area section */
    outline: none; 
    /* so when rounding edged outline does not appear */
    font-size: 16px;
    transition: all 0.2s ease-in;
    /* make transition on hover much smoother */
    width: 250px;
    place-items: center;
    display: flex;
    justify-content: center;
    transform: translate(-25px);

}

.subscribe-email::placeholder {
    /* gaining acess to the pseudo element so can format that */
    color: #bb9770;
    font-size: 16px;
}

.subscribe-email:focus, 
:hover {
/* to change color when on the submit button */

    border-color: green;
}

.subscribe-button {
    grid-area: button; 
    height: 44px; 
    background-color: #bb9770;
    border: 1px solid #bb9770;
    font-size: 16px; 
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.2s ease-in;
    align-items: center;
    width: 100px;
    transform: translate(239px)    
}

.subscribe-button:hover {
    filter: brightness(200%);
}

.subscribe-button:focus {
    outline: none;
}

/* media queries for shifting the form acording to size of screen */
@media(max-width: 700px) {
    .subscribe {
        grid-template-areas:
        "input"
        "subscribe";
        grid-template-columns: none;
        }
    .subscribe-button, 
    .subscribe-email {
        width: 150px;
        grid-column: 1;
        justify-self: center;
        transform: none;

    }

    .subscribe-email {
        grid-area: "input";
    }

    .subscribe-button {
        transform: translate(0px);
        justify-self: center;
        align-content: center;
        grid-area: "subscribe";

    }
}