@import url('https://fonts.googleapis.com/css?family=Tenor Sans');


  /* font-family: 'Tenor-Sans'; */


.NavbarAnhad {
  color: #bb9770;
  float: left;
}

  .navbar a {
    text-decoration: none;
    color: #bb9770;
    position: relative;
    padding: 10px;
    margin-bottom: auto;
    font-weight: bolder;
    font-size: 19.5px;
    margin:5px;
  }


.navbar {
  padding: 18px;
  margin: 0 auto;
  border: 1px solid #bb9770;
  /* background-color: #ffdab9; */
}

  .navbar .links {
    float: right;
    flex-wrap: nowrap;
    white-space: nowrap;
    /* white space makes it so the navbar does not come down again */
  }
  
  .navbar a:hover {
    color: white;
  }
  
  .navbar a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .navbar a:hover::before {
    transform: scaleX(1);
    transform: scaleY(2);
    transform-origin: bottom left;
  }
  
  .navbar a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #ffdab9;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  @media(max-width: 800px) {
    .navbar .links {
      display: none;
      visibility: hidden;
    }}