@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tenor Sans');

review-body{
    font-family: 'Tenor-Sans';
    background-color: #b6ccd7;
}

button{
  cursor: pointer;
}